@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0px;
    font-family: 'Work Sans';
}
.container{
    margin: 0px 150px;
}
span{
    color: rgb(6, 185, 255);
}
/* hero style start*/
header{
    width: 100%;
    height: 90vh;
    background-image: url("../images/banner/banner3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}
.hero-content{
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: flex-end;
    height: 550px;
    text-align: left;
    margin: 0px;
}
.hero-title{
    width: 35%;
    text-align: end;
    font-size: 42px;
    color:#fff;
}
.hero-description{
    color: #fff;
    width: 30%;
    text-align: end;
    margin: 20px 0px;
    line-height: 25px;
}
.hero-btn{
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(62, 143, 180, 0.801);
}
/* hero style end*/

/*  My failures of previous year section start  */
.previous-container{
    max-width: 1200px;
    margin: 100px auto 20px;
}
.previous{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.previous-content{
    margin-left: 70px;
}
.previous-content .previous-title{
    width: 60%;
    font-size: 32px;
    margin: 0px;
}
.previous-content p{
    width: 80%;
    margin: 15px 0px;
    line-height: 25px;
}
.previous-item {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 8px 0px;
}
.previous-item p{
    margin: 0px;
}
.previous-item img{
    width: 25px;
    margin-right: 5px;
}
/*  My failures of previous year section end  */

/* third section style start  */
.third-section{
    max-width: 1200px;
    margin: 100px auto 0px;
}
.third{
    display: flex;
    justify-content: center;
    align-items: center;
}
.third-content{
    width: 60%;
}
.third-content{
    width: 60%;
}
.third-content p{
    width: 80%;
    margin: 15px 0px;
    line-height: 25px;
}
.third-section-span{
    font-weight: 700;
    color: rgb(6, 185, 255);
    line-height: 40px;
}
.third-img{
    width: 620px;
}
.third-img img{
    width: 100%;
    border-radius: 50%;
}
/* third section style end  */

/* plan section start */
.plan-container{
    max-width: 1200px;
    margin: 0px auto 100px;
}
.plans {
    margin-top: 100px;
}
.plans h1{
    text-align: center;
    font-size: 42px;
}
.plans-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.plan-item{
    text-align: center;
}
.plan-item img{
    margin: 0px 0px 15px 0px ;
}
.plan-item h3{
    margin: 0px;
}
.plan-item p{
    margin: 0px;
    color: rgb(185, 185, 185);
}
/* plan section end */

/* positive mindset start  */
.positive-container{
    max-width: 1200px;
    margin: 0px auto;
}
.positive-bg-img {
    width: 100%;
    background-image: url("../images/watch.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 170px;
    border-radius: 8px;
    margin-bottom: 100px;
}
.positive-gradient{
    background-image: linear-gradient(90deg, rgb(6, 185, 255) 0%, rgba(34,210,202,0) 100%, rgba(9,19,121,1) 100%);
    height: 170px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}
.positive-gradient h1{
    color: #fff;
    width: 25%;
    padding-left: 25px;
    margin: 30px 0px 0px 50px;
}
.positive-gradient button{
    margin: 10px 0px 0px 75px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    color:rgb(6, 185, 255);
    font-weight: 600;
    border: none;
}
/* positive mindset end  */

/* footer style start */
footer{
    background-color: black;
    color: #fff;
    padding: 50px 0px;
}
.footer-container{
    max-width: 1200px;
    margin: 0px auto;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-text-area{
    width: 60%;
    line-height: 30px;
}
.footer-text-area h1{
    margin-bottom: 10px;
}
.footer-p{
    width: 60%;
}
.footer-social-img{
    margin: 20px 0px;
}
.footer-social-img img{
    margin-right: 5px;
}
.footer-input-side h1{
    font-size: 32px;
}
::placeholder {
    color: rgb(255, 255, 255);
}
.footer-input-side input{
    padding: 10px 20px;
    background-color: black;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 10px 0px;
}
.footer-input-side button{
    padding: 10px 20px;
    background-color: rgb(6, 185, 255);
    color: #fff;
    border-radius: 5px;
}

/* footer style end */